<%= render "shared/navbar" %>

<div class="index-cards">
  <% @booking.each do |booking|  %>
  <div class="card">
   <p class="card-text">begins on: <%= booking.start_time.strftime("%B %d, %Y") %></p>
   <p class="card-text">ends on: <%= booking.end_time.strftime("%B %d, %Y") %></p>
   <p class="card-text">renting bike: <%= booking.bike.name %></p>
   <p class="card-text">for: <%= booking.bike.capacity %> riders </p>
   <p class="card-text">from: <%= booking.bike.owner.first_name %></p>
   <p class="card-text">total price: <%= number_to_currency(((booking.end_time - booking.start_time) / 86400) * booking.bike.price) %></p>
   </div>
  <% end %>
</div>


<%= link_to "back to bikes", bikes_path %>
