<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("bike_banner_ognuhx") %>');">
  <div class="container">
    <h1>Why drive when you can <strong>bike</strong>!</h1>
    <p>Find the perfect ride for you and your friends.</p>
  </div>
</div>

<%= render "shared/navbar" %>

<div class="container">
  <div class="cards">
    <div class="home-card home-borderless">
      <img src="<%= cl_image_path("im-117726_z4hs4g") %>" alt="bike">
      <p class="card-content">For one</p>
    </div>

    <div class="home-card home-borderless">
      <img src="<%= cl_image_path("tandem-tree-wheeler_o4hbqs") %>" alt="bike">
      <p class="card-content">For two</p>
    </div>

    <div class="home-card home-borderless">
      <img src="<%= cl_image_path("longbike11_cmv5gs") %>" alt="bike">
      <p class="card-content">For three</p>
    </div>

    <div class="home-card home-borderless">
      <img src="<%= cl_image_path("main-qimg-364049f9b85bf8d6e22dbb89f410804e_o3v8ic") %>" alt="bike">
      <p class="card-content">For four or more</p>
    </div>
  </div>

  <div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("home-small-banner") %>');">
    <div class="small-banner-info">
      <p>Biking. All day, every day. Wow.</p>
      <%= link_to "See all bikes", bikes_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>
