<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "bike_banner.jpeg" %>');">
  <div class="container">
    <h1>Why drive when you can <strong>bike</strong>!</h1>
    <p>Find the perfect ride for you and your friends.</p>
  </div>
</div>

<%= render "shared/navbar" %>

<div class="container">
  <div class="cards">
    <div class="home-card home-borderless">
      <img src="<%= image_path("bike_card.jpeg") %>" alt="bike">
      <p class="card-content">Cool bikes</p>
    </div>

    <div class="home-card home-borderless">
      <img src="<%= image_path("bike_card.jpeg") %>" alt="bike">
      <p class="card-content">Stylish bikes</p>
    </div>

    <div class="home-card home-borderless">
      <img src="<%= image_path("bike_card.jpeg") %>" alt="bike">
      <p class="card-content">Smol bikes</p>
    </div>

    <div class="home-card home-borderless">
      <img src="<%= image_path("bike_card.jpeg") %>" alt="bike">
      <p class="card-content">Tol bikes</p>
    </div>
  </div>

  <div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.terracastproducts.com/wp-content/uploads/2018/12/The-Problem-with-Narrow-Bike-Lanes.jpg);">
    <div class="small-banner-info">
      <p>Biking. All day, every day. Wow.</p>
      <%= link_to "See all bikes", bikes_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>
