<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("bike_banner_ognuhx") %>');">
  <div class="container">
    <h1>Why drive when you can <strong>bike</strong>!</h1>
    <p>Find the perfect ride for you and your friends.</p>
  </div>
</div>

<%= render "shared/navbar" %>

<div class="container">
  <div class="cards">
    <div class="home-card home-borderless">
      <img src="<%= cl_image_path("im-117726_z4hs4g") %>" alt="bike">
      <p class="card-content"> <%= link_to "For one", bikes_path(capacity: 1), class:"link" %> </p>
    </div>

    <div class="home-card home-borderless">
      <img src="<%= cl_image_path("tandem-tree-wheeler_o4hbqs") %>" alt="bike">
      <p class="card-content"> <%= link_to "For two", bikes_path(capacity: 2), class:"link" %> </p>
    </div>

    <div class="home-card home-borderless">
      <img src="<%= cl_image_path("longbike11_cmv5gs") %>" alt="bike">
      <p class="card-content"> <%= link_to "For three", bikes_path(capacity: 3), class:"link" %> </p>
    </div>

    <div class="home-card home-borderless">
      <img src="<%= cl_image_path("quadco-mo_b24yfi") %>" alt="bike">
      <p class="card-content"> <%= link_to "For four", bikes_path(capacity: 4), class:"link" %> </p>
    </div>
  </div>

  <div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("home-small-banner") %>');">
    <div class="small-banner-info">
      <p>Biking. All day, every day. Wow.</p>
      <%= link_to "See all bikes", bikes_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>
