<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("home-small-banner") %>');">
</div>

<%= render "shared/navbar" %>

<div class="container">
  <h1>Bikes</h1>
  <div class="index-cards">
    <% @bikes.each do |bike| %>
      <div class="card" style="width: 250px;">
        <%= link_to bike_path(bike), class:"link" do %>
          <%= cl_image_tag bike.photos.first.key, height: 200, width: 250, crop: :fill, class: "card-img-top" %>
            <div class="card-body">
              <div class="card-info">
                <h4 class="card-title"><%= bike.name %></h4>
                <p class="card-text">$<%= bike.price %>/day</p>
              </div>
              <p class="card-text"><%="★"*rand(1..5)%></p>
              <div class="card-info">
              <p class="card-text"> <%= pluralize bike.capacity, "rider" %> </p>
              <%= link_to "More info", bike_path(bike), class:"info btn btn-dark" %>
              </div>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
