<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "bike_banner.jpeg" %>');">
</div>

<%= render "shared/navbar" %>


<div class="container">
  <h1>Bikes</h1>
  <div class="index-cards">
    <% @bikes.each do |bike| %>
      <div class="card" style="width: 250px;">
        <%= cl_image_tag bike.photos.first.key, crop: :fill %>
          <div class="card-body">
            <div class="card-info">
              <h4 class="card-title"><%= bike.name %></h4>
              <p class="card-text">$<%= bike.price %>/day</p>
            </div>
            <p class="card-text"><%= bike.capacity %> riders</p>
            <%= link_to "More info", bike_path(bike), class:"btn btn-dark" %>
          </div>
      </div>
    <% end %>
  </div>
</div>
