<%= render "shared/navbar" %>

<h1 class = "new-bike-header"> tell us about your available bike </h1>

<div class = "new-bike-form">
<%= simple_form_for(@bike) do |f| %>
   <%= f.input :name, placeholder: "Bike name" %>
   <%= f.input :description, placeholder: "Bike description" %>
   <%= f.input :capacity, placeholder: "# of riders" %>
   <%= f.input :price, placeholder: "$ per day" %>
   <%= f.input :photos, as: :file, input_html: { multiple: true} %>
   <%= f.submit %>
<% end %>
</div>
<%= link_to "See all bikes", bikes_path %>




