<%= render "shared/navbar" %>

<h1 class = "new-bike-header"> tell us about your available bike </h1>

<div class = "new-bike-form">
<%= simple_form_for(@bike) do |f| %>
   <%= f.input :name, placeholder: "bike name" %>
   <%= f.input :description, placeholder: "description" %>
   <%= f.input :capacity, collection: 1..6 %>
   <%= f.input :price, collection: 1..50 %>
   <%= f.input :photos, as: :file, input_html: { multiple: true} %>
   <%= f.submit %>
<% end %>
</div>
<%= link_to "See all bikes", bikes_path %>




