<%= render "shared/navbar" %>
<div class="container">
  <h1><%= @bike.name %></h1>
  <%= render "carousel" %>
  <br>
  <div class="bike-container">
  <div class="bike-info">
    <ul class="bike-specs">
      <li><i class="fas fa-biking"></i> <%= @bike.capacity %> </li>
      <li> <i class="fas fa-dollar-sign"></i> <%= @bike.price %></li>
    </ul>
    <br>
    <div class="bike-desc">
    <h3>Bike description</h3>
    <p><%= @bike.description %></p>
    </div>
  </div>

  <div class="booking-form">
    <%= render "bookings/new" %>
  </div>
  </div>

  <%= link_to "Back to list", bikes_path, class: "btn btn-dark" %>
</div>
